body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.error{
text-align: center;
color: red;
padding: 1px;	
}

.col-3{
	width: 30%;
}
.col-12{
	width: 100%
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       width: fit-content;
}

h1 {
    text-align: center;
    color: #343a40;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #495057;
}

input, select, button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#ticket {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #e9ecef;
    display: none;
}

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            padding: 20px;
        }
        .row {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .row .input-group {
            margin-right: 10px;
        }
        .input-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        
   